/app/config/parameters.yml
/bin/
/build/*
!build/phpdocx.xml
!build/phpdox.xml
!build/phpmd.xml
!build/phpunit.xml
/composer.phar
/vendor/
/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/tmp/*
!app/tmp/.gitkeep
!app/cache/.gitkeep
/app/logs/*
!app/logs/.gitkeep
/web/vendor/*
!web/vendor/.gitkeep
/app/phpunit.xml
cache.properties
/.htpasswd
/web/uploads/*
!/web/uploads/.gitkeep
/node_modules/
/app/spool/
/app/config/payment_config/*
!app/config/payment_config/.gitkeep
/web/robots.txt
/app/certificates/ios-push-prod.pem

# Production ignores
/stats/
/error/
