<header class="Site__header--default">
    <div class="container">
        <div class="row jc-center">
            <ul class="Site__header-menu">
                <li>
                    <a href="/" class="Site__header-menu-web-logo">
                        <div class="Logo">&nbsp;</div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>
