<header class="Site__header Site__header--image">
    <div class="container">
        <div class="row jc-center">
            {% include ':partials/menu:desktop.html.twig' %}
        </div>
        {% include ':partials/menu:mobile.html.twig' %}
{#        <div class="row jc-center">
            <div class="Site__header-description">
                <h1>{{ 'acc_h2'|trans({}, "base") }}</h1>
                <h4>{{ 'acc_h4'|trans({}, "base") }}</h4>
                <br>
                <a class="Btn empty sxm border-white mrg__50"
                   href="javascript:void(0);">{{ 'acc_concept'|trans({}, "base") }}</a>
            </div>
        </div>#}
    </div>
</header>
