{% extends 'base.html.twig' %}

{% block body %}
    <div class="container box-lg">
        <div>
            <h2>Qui sommes nous ?</h2>
            <div class="text-center gray box">Découvrez une histoire complètement foodie !</div>
            <div class="text-center">
                <img src="{{ asset('images/qui_sommes_nous.jpg') }}" style="max-width: 100%; margin-bottom: 20px">
            </div>
            <div class="box">
                <div>
                    <p>
                        C’est au début de l’année dernière que Karen décide de se consacrer à la création d’un service
                        qui va au delà du simple cours de cuisine. Passionnée de gastronomie, elle aime découvrir de
                        nouveaux restaurants et dénicher les bonnes adresses depuis toujours.
                    </p>
                    <p>
                        D’ailleurs, on la sollicite souvent pour avoir les bonnes adresses à Lyon, capitale de la
                        gastronomie… se retrouver à table a toujours été pour elle des moments de partage de convivialité
                        pas comme les autres…
                    </p>
                    <p>
                        Mais Karen aime aussi cuisiner… et partager les photos de ses plats ! Fascinée par les coulisses
                        des cuisines de restaurant, elle rêvait de s’immerger aux côtés d’un chef pour vivre un
                        vrai service, (et pas que devant sa télé) !
                    </p>
                    <p>
                        Rapidement, elle constate qu’au delà des simples cours de cuisine collectifs ou particuliers, il
                        n’est pas possible de vivre une réelle expérience de chef à Lyon en 2015.
                    </p>
                    <p>
                        C’est alors qu’on lui présente Jean Christophe, fondateur d’une entreprise de cours de cuisine, lui
                        aussi passionné de cuisine et de start-up. Karen lui propose rapidement de rejoindre l’aventure
                        !
                    </p>
                    <p>
                        Food&You souhaite proposer un service innovant, de qualité, qui permette aux gens de vivre leur
                        passion.
                    </p>
                    <p>
                        Food&You souhaite devenir une nouvelle communauté de foodies avec des valeurs fortes : Le
                        partage et la transmission, la passion de la cuisine, les nouvelles technologies, la qualité et
                        la transparence des produits.
                    </p>
                    <p>
                        Ce concept repose avant tout sur une grande ouverture d’esprit de la part des restaurants et des
                        chefs, qui nous ouvrent les portes de leur cuisine…sans eux rien ne serait possible.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

