{% extends 'base.html.twig' %}

{% block body %}
    <div class="container box-lg">
        <div>
            <h2>Conditions Générales d’Utilisation</h2>
            <div class="box">
                <strong class="text-left text-xxlg">ARTICLE 1 : Objet - DEFINITIONS</strong>
                <div class="text-sm">
                    <p>
                        Les présentes conditions générales d’utilisation (ci-après les « Conditions Générales »)
                        stipulent les droits et obligations de la société FOOD&YOU (ci-après « FOOD&YOU ») et des
                        utilisateurs de la plateforme web accessible à l’adresse www.foodandyou.fr (ci-après l’ «
                        Utilisateur » et la « Plateforme ») qui s’inscrivent sur ladite Plateforme aux fins de
                        participer à un jeu leur permettant notamment, en tant que chef amateur, de vivre une expérience
                        unique de cuisine au sein d’un restaurant lors de soirées privées FOOD&YOU et de participer à
                        des challenges culinaires (ci-après le « Jeu »).
                        Pour les besoins des présentes, les termes suivants auront le sens défini ci-dessous :
                    </p>
                    <ul>
                        <li><strong>« Chef »</strong>: Désigne le chef du Restaurant partenaire FOOD&YOU.</li>
                        <li><strong>« Convives »</strong> : Désigne les clients de FOOD&YOU participant comme jury à la
                            Soirée.
                        </li>
                        <li><strong>« Locaux »</strong> : Désigne les locaux du Restaurant, en ce inclus les cuisines et
                            les salles de réception.
                        </li>
                        <li><strong>« Matériel »</strong> : Désigne le matériel de cuisine et restauration, quel qu’il
                            soit, ainsi que la vaisselle, mis à disposition par le Restaurant.
                        </li>
                        <li><strong>« Personnel »</strong> : Désigne le personnel habituel du Restaurant.</li>
                        <li><strong>« Restaurant »</strong> : Désigne le restaurant partenaire de FOOD&YOU pour une
                            Soirée.
                        </li>
                        <li><strong>« Soirée »</strong> : Désigne toute soirée privée évènementielle organisée par
                            FOOD&YOU permettant à trois Utilisateurs de vivre au sein du Restaurant l’expérience du Chef
                            sous forme d’un concours noté par les Convives, et de bénéficier du Coaching.
                        </li>
                    </ul>
                </div>

                <strong class="text-left text-xxlg">ARTICLE 2 : CREATION ET FERMETURE DE COMPTE – REVOCATION D’un
                    UTILISATEUR</strong>
                <div class="text-sm">
                    <p>
                        Avant de prendre part au Jeu, l’Utilisateur doit s’enregistrer sur la Plateforme et ouvrir un
                        compte à son nom. La création d'un compte est ouverte à toute personne physique âgée de plus de
                        18 ans et emporte l’acceptation pleine et entière des présentes Conditions Générales, lesquelles
                        sont mises à sa disposition au moment de la création du compte. Si l’Utilisateur est mineur, il
                        doit fournir une autorisation parentale pour s’inscrire. L’Utilisateur peut imprimer ou
                        sauvegarder ces Conditions Générales. FOOD&YOU se réserve le droit de modifier à tout moment les
                        présentes Conditions Générales. Dans un tel cas, les nouvelles conditions générales applicables
                        seront publiées sur la Plateforme. Lors de la création de son compte, l’Utilisateur doit fournir
                        l’ensemble des informations identifiées comme obligatoires. Il s’engage à fournir des
                        informations exactes et à les mettre régulièrement à jour. Ces informations restent
                        confidentielles. Toute personne physique ne peut ouvrir qu’un seul compte à son nom. Le compte
                        est personnel et ne peut être cédé à un tiers, ni être utilisé par une société, quelle qu'elle
                        soit. L'ouverture du compte par un Utilisateur est confirmée par l'émission d'un courriel de
                        FOOD&YOU.
                    </p>
                    <p>
                        L’Utilisateur est responsable de la confidentialité de son login et de son mot de passe. En cas
                        de perte ou de constat d’intrusion sur son compte, l’Utilisateur devra modifier sans délai son
                        mot de passe ou respecter la procédure de sécurité proposée par FOOD&YOU afin de récupérer son
                        login ou mot de passe.
                        Une fois son compte validé, l’Utilisateur peut accéder à toutes les fonctionnalités du Jeu et
                        choisir de postuler à une Soirée. Tout Utilisateur reste libre de fermer son compte à tout
                        moment. La fermeture d'un compte entraîne la perte définitive du niveau atteint dans le Jeu.
                    </p>
                    <p>
                        Tout manquement grave d'un Utilisateur à l'un quelconque de ses engagements au titre des
                        présentes, non remédié dans un délai de quinze (15) jours à compter de la réception d'une lettre
                        recommandée avec avis de réception ou d’un email avec accusé de réception de FOOD&YOU, ouvre
                        droit pour cette dernière à la suspension ou à la révocation du compte de l’Utilisateur
                        concerné, selon la gravité des faits. Le courrier ou email précisera les faits reprochés. En cas
                        de révocation, tout accès de l’Utilisateur à son compte deviendra impossible, sans préjudice de
                        tout autre dommage et intérêt auxquels FOOD&YOU pourrait prétendre. En cas de trouble ou
                        atteinte manifestement illicite, le délai pour remédier au manquement pourra être plus court.

                    </p>
                </div>

                <strong class="text-left text-xxlg">ARTICLE 3 : DEFINITION DU JEU</strong>
                <div class="text-sm">
                    <p>
                        Le Jeu ne constitue pas un jeu de hasard, une loterie commerciale, ou une pratique commerciale
                        déloyale, trompeuse ou agressive au sens de l’article L120-1 du code de la consommation. La
                        participation au Jeu n’oblige à aucun achat de la part de l’Utilisateur. Aucun tirage au sort
                        n'aura lieu pour désigner le ou les Utilisateur(s) qui recevront des récompenses ou gains au
                        cours ou à la fin du Jeu. Le Jeu permet à l’Utilisateur de se confronter à d’autres Utilisateurs
                        dans la réalisation de recettes, de challenges culinaires et la tenue d’une cuisine de
                        restaurant en conditions réelles lors de Soirées. Il donne lieu à des notations de l’Utilisateur
                        par les Convives, les Chefs et Restaurants, ce qui permet à l’Utilisateur de débloquer des
                        niveaux et challenges, et de recevoir des gains. FOOD&YOU peut procéder à tout moment à des
                        modifications dans la présentation, le fonctionnement ou les fonctionnalités du Jeu, sans
                        notification préalable. La participation au Jeu est gratuite. Elle nécessite toutefois l’usage
                        d’un terminal informatique, d'un smartphone ou d’une tablette connecté(e) au réseau internet
                        dont le prix d'acquisition et le coût de connexion à internet restent à la charge des
                        Utilisateurs. Les environnements smartphone et tablette supportés sont iOS et Androïd en site
                        mobile ou application mobile selon les cas.

                    </p>
                </div>

                <strong class="text-left text-xxlg">ARTICLE 4 : – Deroulement d’une Soiree</strong>
                <div class="text-sm">
                    <p>
                        Afin de postuler à une Soirée, l’Utilisateur doit en premier lieu choisir le Restaurant et Chef
                        l’intéressant parmi ceux proposés sur la Plateforme. Une fois sélectionné par le Chef,
                        l’Utilisateur s’engage à respecter la Charte d’engagement des chefs amateurs figurant sur la
                        Plateforme et devra être présent lors de la tenue de la Soirée, sauf cas de force majeure.
                        En particulier, l’Utilisateur
                    </p>
                    <ul>
                        <li>contactera le Restaurant, et lui soumettra ses recettes dans les délais prévus</li>
                        <li>se rendra disponible pour toute réunion de briefing avec le Chef, et au minimum 5 heures
                            avant la tenue de toute Soirée
                        </li>
                        <li>sera attentif aux instructions du Chef, à toutes consignes d’usage, de tenue vestimentaire
                            et d’utilisation des Locaux et du Matériel, ainsi qu’aux consignes d’hygiène et de sécurité
                        </li>
                        <li>sera bienveillant et respectueux vis à vis du Personnel du Restaurant, et réceptif aux
                            conseils et coaching délivrés par le Chef, afin d’assurer la réussite de la Soirée
                        </li>
                        <li>n’interférera pas, de quelque manière que ce soit, dans l’encadrement du Personnel
                        </li>
                        <li>fera ses meilleurs efforts pour participer au service en salle lors de la Soirée</li>
                        <li>échangera avec les Convives</li>
                        <li>participera au rangement des Locaux et au nettoyage du Matériel en fin de Soirée</li>
                        <li>réalisera la notation du Restaurant et du Chef via la Plateforme postérieurement à la
                            Soirée
                        </li>
                    </ul>
                    <p>
                        A tous instants, l’Utilisateur s’engage à agir exclusivement comme participant au Jeu et
                        reconnaît rester indépendant et pouvoir décider de cesser sa participation au Jeu à tout moment.
                    </p>
                </div>

                <strong class="text-left text-xxlg">ARTICLE 5 : Obligations de FOOD&YOU et responsabilité</strong>
                <div class="text-sm">
                    <p>
                        FOOD&YOU ne pourra être tenue responsable de toute indisponibilité de la Plateforme inhérente
                        aux aléas techniques liés à Internet, à un cas de force majeure, se rapportant à la connexion
                        Internet de l’Utilisateur ou à ses équipements, ou à des opérations de maintenance nécessaires
                        au bon fonctionnement de la Plateforme. FOOD&YOU se réserve le droit d’interrompre à tout moment
                        l’accès à la Plateforme notamment afin de préserver la confidentialité ou l’intégrité des
                        comptes des Utilisateurs en cas d’attaque virale. FOOD&YOU met en œuvre les moyens techniques à
                        sa disposition pour maintenir autant que possible l’intégrité et la sécurité de la Plateforme et
                        la confidentialité des données personnelles des Utilisateurs.
                    </p>
                    <p>
                        Le rôle de FOOD&YOU se limite, concernant la publication des notes et commentaires d’un
                        Utilisateur, à celui d’un hébergeur au sens de l’article 6 de la Loi pour la Confiance dans
                        l’Economie Numérique (LCEN) du 21 juin 2004. A ce titre, elle n’est pas tenue à une obligation
                        de surveillance desdits commentaires. Elle est seulement tenue à une obligation de retrait en
                        cas de commentaire manifestement illicite qui lui aura été notifié selon les modalités prévues
                        par la LCEN. FOOD&YOU n’est tenue qu’à une obligation de moyens concernant la tenue du Jeu et
                        des Soirées. En conséquence, elle se réserve le droit, en concertation avec le Restaurant,
                        d’annuler toute Soirée avant la date de la tenue de la Soirée notamment lorsque le nombre de
                        Convives minimum n’est pas atteint, sans que l’Utilisateur ne puisse le contester ou avoir un
                        quelconque recours contre FOOD&YOU.
                    </p>
                    <p>
                        FOOD&YOU ne saurait être responsable de tout dommage résultant d’une intrusion ou d’un maintien
                        frauduleux d'un tiers sur le compte d’un Utilisateur ou sur la Plateforme, ou d’une extraction
                        illicite de données, malgré la mise en œuvre par FOOD&YOU des moyens de sécurisation conformes
                        aux données actuelles de la technique.
                    </p>
                    <p>
                        FOOD&YOU décline toute responsabilité concernant la nature et le contenu des commentaires
                        publiés par les Utilisateurs. Plus généralement, FOOD&YOU ne peut en aucun cas être responsable
                        à raison des notes attribuées à un Utilisateur, provenant d'un Convive, d’un Chef ou d’un
                        Restaurant. FOOD&YOU ne saurait être responsable de tout dommage découlant, pour un tiers ou
                        pour un Utilisateur, de la violation ou du non respect par un Utilisateur de l’une de ses
                        obligations au titre des Conditions Générales.
                    </p>
                </div>

                <strong class="text-left text-xxlg">ARTICLE 6 : Obligations de l’Utilisateur et responsabilité</strong>
                <div class="text-sm">
                    <p>
                        La création de son compte par un Utilisateur emporte déclaration de sa qualité de chef amateur
                        et engagement de ne pas exercer d’activité professionnelle en tant que cuisinier, pâtissier ou
                        dans le domaine de la restauration pendant la durée du Jeu. De même l’acceptation des Conditions
                        Générales emporte déclaration par l’Utilisateur qu’il est couvert par une assurance
                        responsabilité civile, y compris dans le cadre du Jeu et dans les actes qu’il réalisera à
                        l’occasion de Soirées.
                    </p>
                    <p>
                        Lors de la tenue de Soirée, et plus généralement dans le cadre du Jeu, l’Utilisateur s’engage à
                        ce que son comportement:
                    </p>
                    <ul>
                        <li>
                            soit conforme à l’ordre public ou aux bonnes mœurs
                        </li>
                        <li>
                            ne soit pas injurieux, outrancier, mensonger ou calomnieux à l’égard d’un tiers ou de
                            FOOD&YOU
                        </li>
                        <li>
                            ne comporte pas de dérive raciste, xénophobe, négationniste, incitant à la discrimination, à
                            la haine ou à la violence à l'égard d'une personne ou d'un groupe de personnes à raison de
                            leur origine, de leur sexe, de leur situation de famille, de leur apparence physique, de
                            leur patronyme, de leur état de santé, de leur handicap, de leurs caractéristiques
                            génétiques, de leurs mœurs, de leur orientation sexuelle vraie ou supposée, de leur âge, de
                            leurs opinions politiques, de leurs activités syndicales, de leur appartenance vraies ou
                            supposée à une ethnie, une nation, une race, ou une religion déterminée
                        </li>
                        <li>
                            plus généralement, soit conforme aux dispositions légales et règlementaires en vigueur.
                        </li>
                    </ul>
                    <p>
                        Lors de la tenue de Soirée, en cas de captation vidéo ou photographique, l’Utilisateur
                        s’engage à signer une autorisation d’usage de sa voix et son image, dans les termes précisés
                        ci-après en annexe, et renonce à toute action à l’égard de FOOD&YOU sur le fondement d’une
                        atteinte à ses droits, dés lors que les présentes Conditions Générales sont respectées par
                        la Société.
                    </p>
                    <p>
                        Il est de la responsabilité de l’Utilisateur de s’assurer que ses équipements et sa
                        connexion internet sont suffisants pour accéder à la Plateforme. Chaque Utilisateur reste
                        responsable à tout moment de l’usage de son compte, de son et de son mot de passe, ainsi que
                        de tout commentaire publié et toute note attribuée.
                    </p>
                    <p>
                        A la fin de toute Soirée, l’Utilisateur s’engage à noter le Restaurant et le Chef. Il pourra
                        également publier tout commentaire mais s’engage à faire preuve de mesure dans ses propos.
                    </p>
                    <p>
                        L’Utilisateur sera tenu de dédommager FOOD&YOU de l’intégralité des conséquences matérielles
                        ou immatérielles, qui découlerait de sa violation des présentes Conditions Générales.
                    </p>
                    <p>
                        En cas d’action ou de revendication d’un tiers à l’encontre de FOOD&YOU, cette dernière
                        pourra par conséquent appeler en garantie tout Utilisateur qui, en violant les engagements
                        des présentes Conditions Générales, serait à l’origine des faits reprochés par ledit tiers à
                        FOOD&YOU. En outre, l’Utilisateur renonce à exercer tout recours contre FOOD&YOU dans le
                        cadre de poursuites diligentées par un tiers à son encontre du fait de la publication,
                        l'utilisation ou de l'exploitation des commentaires et notes qu’il aura publiés.
                    </p>
                </div>

                <strong class="text-left text-xxlg">ARTICLE 7 : Données personnelles – COOKIES</strong>
                <div class="text-sm">
                    <p>
                        FOOD&YOU procède à la collecte de données et informations personnelles concernant les
                        Utilisateurs afin de gérer la Plateforme. Ce traitement de données personnelles fait l’objet
                        d’une déclaration à la CNIL par FOOD&YOU sous le numéro 1924719.
                    </p>
                    <p>
                        Ce traitement a pour objet la réalisation des opérations relatives à la gestion des Utilisateurs
                        et à la prospection, à l’élaboration de statistiques commerciales, à l’organisation de jeux et
                        de toute opération promotionnelle, à la gestion des avis des Utilisateurs sur les
                        fonctionnalités de la Plateforme. Ces données sont destinées uniquement aux personnels des
                        services commerciaux, marketing, administratifs et informatiques de FOOD&YOU, ainsi que les
                        services chargés du contrôle (commissaires aux comptes, etc.). Aucun échange ni location ni
                        cession de ces données à des tiers n’est envisagé. Conformément à la loi du 6 janvier 1978,
                        l’Utilisateur dispose d’un droit d’accès, de rectification et d’opposition sur les données
                        personnelles le concernant. Pour exercer ce droit, il convient d’écrire à : Société FOOD&YOU,
                        Service CNIL – 13 Cours d’Herbouville 69004 LYON, France – karen@foodandyou.fr. FOOD&YOU informe
                        l’Utilisateur de l’installation de cookies dans son ordinateur. FOOD&YOU utilise les cookies
                        pour permettre et faciliter la communication par voie électronique, pour fournir des
                        fonctionnalités adaptées aux besoins des Utilisateurs. Le cookie sert à identifier l’Utilisateur
                        à chacune de ses connexions, et facilite ainsi son accès à la Plateforme. L’Utilisateur peut
                        refuser les cookies en modifiant la configuration de son navigateur ; ceci peut néanmoins
                        altérer les fonctionnalités proposées par la Plateforme.
                    </p>
                </div>

                <strong class="text-left text-xxlg">ARTICLE 8 : Propriété intellectuelle</strong>
                <div class="text-sm">
                    <p>
                        L’Utilisateur reconnaît la propriété de FOOD&YOU sur la Plateforme et le concept des Soirées et
                        du Jeu, et s’engage à ne pas les reproduire ni les imiter sans son accord préalable écrit, cet
                        engagement perdurant au-delà de la durée du Jeu.
                    </p>
                </div>

                <strong class="text-left text-xxlg">ARTICLE 9 : DIVERS</strong>
                <div class="text-sm">
                    <p>
                        De manière générale, si une ou plusieurs stipulations des Conditions Générales sont tenues pour
                        non valides ou déclarées comme telles en application d'une loi, d'un règlement ou à la suite
                        d'une décision définitive d'une juridiction compétente, les autres stipulations garderont toute
                        leur force et leur portée. Les Parties conviennent alors de remplacer la clause déclarée nulle
                        et non valide par une clause qui se rapprochera le plus quant à son contenu de la clause
                        initialement arrêtée. Les mêmes principes s’appliqueront en cas de dispositions incomplètes.
                    </p>
                    <p>
                        Les dispositions des présentes Conditions Générales expriment l’intégralité de l’accord conclu
                        entre les Parties. Elles prévalent sur toutes les propositions ou accords antérieurs, ainsi que
                        sur toutes autres communications entre les Parties se rapportant à l’objet des présentes.
                    </p>
                    <p>
                        Par l’acceptation des présentes, l’Utilisateur déclare qu’il reste indépendant et qu’il n’entend
                        pas constituer une société ou une entité juridique quelconque avec FOOD&YOU. Toute forme “
                        d’affectio societatis ” comme tout partage de résultats sont formellement exclus. Aucun
                        Utilisateur participant à une Soirée ne pourra être assimilé à un salarié de FOOD&YOU ou du
                        Restaurant, ledit Utilisateur étant une personne physique agissant librement et de son plein
                        gré, conservant à tout instant sa capacité de décision. L’Utilisateur fera son affaire
                        personnelle de tout impôt, cotisation, frais, droit dont il serait redevable du fait de
                        l’application de sa participation au Jeu et aux Soirées, de sorte que FOOD&YOU ne sera jamais
                        recherchée à ce titre.
                    </p>
                </div>

                <strong class="text-left text-xxlg">ARTICLE 10 : Droit Applicable - Attribution de juridiction</strong>
                <div class="text-sm">
                    <p>
                        Les Conditions Générales seront interprétées, exécutées et régies par le droit français.
                    </p>
                    <p>
                        En cas de difficultés relatives à la validité, l’interprétation, l’exécution ou l’inexécution
                        des
                        présentes, et à défaut de règlement amiable dans un délai de trente (30) jours suivant la
                        survenance du différend, les Parties conviennent de soumettre leur différend à la compétence
                        exclusive du tribunal compétent dans le ressort de la Cour d’appel de Lyon.
                    </p>
                </div>

            </div>
            <hr>
            <h2>Conditions Générales de Vente</h2>
            <div class="box">
                <strong class="text-left text-xxlg">ARTICLE 1 : Objet - DEFINITIONS</strong>
                <div class="text-sm">
                    <p>
                        Les présentes conditions générales de vente (ci-après les « Conditions Générales ») stipulent
                        les droits et obligations de la société FOOD&YOU (ci-après « FOOD&YOU ») et des clients de la
                        plateforme web accessible à l’adresse www.foodandyou.fr (ci-après le « Client » et la «
                        Plateforme ») qui achètent des places pour une soirée privée FOOD&YOU.
                    </p>
                    <p>
                        Pour les besoins des présentes, les termes suivants auront le sens défini ci-dessous :
                    </p>
                    <ul>
                        <li>
                            <strong>« Restaurant » </strong>: Désigne le restaurant partenaire de FOOD&YOU pour une
                            Soirée.
                        </li>
                        <li>
                            <strong>« Soirée » </strong>: Désigne toute soirée privée évènementielle organisée par
                            FOOD&YOU.
                        </li>
                        <li>
                            <strong>« Client » </strong>: Désigne toute personne physique ou morale ayant commandé une
                            ou plusieurs places à une Soirée auprès de FOOD&YOU.
                        </li>
                        <li>
                            <strong>« Chef Amateur » </strong>: Désigne tout chef amateur participant comme chef lors
                            d’une Soirée.
                        </li>
                    </ul>
                    <p>
                        Par l’acceptation des présentes, l’Utilisateur déclare qu’il reste indépendant et qu’il n’entend
                        pas constituer une société ou une entité juridique quelconque avec FOOD&YOU. Toute forme “
                        d’affectio societatis ” comme tout partage de résultats sont formellement exclus. Aucun
                        Utilisateur participant à une Soirée ne pourra être assimilé à un salarié de FOOD&YOU ou du
                        Restaurant, ledit Utilisateur étant une personne physique agissant librement et de son plein
                        gré, conservant à tout instant sa capacité de décision. L’Utilisateur fera son affaire
                        personnelle de tout impôt, cotisation, frais, droit dont il serait redevable du fait de
                        l’application de sa participation au Jeu et aux Soirées, de sorte que FOOD&YOU ne sera jamais
                        recherchée à ce titre.
                    </p>
                </div>

                <strong class="text-left text-xxlg">ARTICLE 2 : CREATION DE COMPTE - ACCEPTATION DES CONDITIONS
                    GENERALES</strong>
                <div class="text-sm">
                    <p>
                        Afin de commander des places pour une Soirée, le Client doit s’enregistrer sur la Plateforme et
                        ouvrir un compte à son nom. La création d'un compte est ouverte à toute personne physique âgée
                        de plus de 18 ans et à toute personne morale, et emporte l’acceptation pleine et entière des
                        présentes Conditions Générales, lesquelles sont mises à sa disposition au moment de la création
                        du compte. Si le Client est mineur, il doit fournir une autorisation parentale pour s’inscrire.
                        Le Client peut imprimer ou sauvegarder ces Conditions Générales. FOOD&YOU se réserve le droit de
                        modifier à tout moment les présentes Conditions Générales. Dans un tel cas, les nouvelles
                        conditions générales applicables seront publiées sur la Plateforme. Lors de la création de son
                        compte, le Client doit fournir l’ensemble des informations identifiées comme obligatoires. Il
                        s’engage à fournir des informations exactes et à les mettre régulièrement à jour. Ces
                        informations restent confidentielles. Toute personne physique ne peut ouvrir qu’un seul compte à
                        son nom. Le compte est personnel et ne peut être cédé à un tiers, ni être utilisé par une
                        société, quelle qu'elle soit. L'ouverture du compte par un Client est confirmée par l'émission
                        d'un courriel de FOOD&YOU. Le Client est responsable de la confidentialité de son login et de
                        son mot de passe. En cas de perte ou de constat d’intrusion sur son compte, le Client devra
                        modifier sans délai son mot de passe ou respecter la procédure de sécurité proposée par FOOD&YOU
                        afin de récupérer son login ou mot de passe. Tout Client reste libre de fermer son compte à tout
                        moment. Tout manquement grave d'un Client à l'un quelconque de ses engagements au titre des
                        présentes, non remédié dans un délai de quinze (15) jours à compter de la réception d'une lettre
                        recommandée avec avis de réception ou d’un email avec accusé de réception de FOOD&YOU, ouvre
                        droit pour cette dernière à la suspension ou à la révocation du compte du Client concerné, selon
                        la gravité des faits. Le courrier ou email précisera les faits reprochés. En cas de révocation,
                        tout accès du Client à son compte deviendra impossible, sans préjudice de tout autre dommage et
                        intérêt auxquels FOOD&YOU pourrait prétendre. En cas de trouble ou atteinte manifestement
                        illicite, le délai pour remédier au manquement pourra être plus court.
                    </p>
                </div>

                <strong class="text-left text-xxlg">ARTICLE 3 : COMMANDE – DROIT DE RETRACTATION</strong>
                <div class="text-sm">
                    <p>
                        Une fois son compte validé, le Client peut procéder à toute commande de places à la Soirée de
                        son choix. La commande est réputée effectuée lorsque le Client a validé son acceptation de
                        l’achat par l’acceptation expresse de Conditions Générales au moment de l’achat et par le
                        paiement du prix complet à FOOD&YOU par les moyens mis à sa disposition par la Plateforme.
                        Conformément à l’article L121-21-8 du code de la consommation, le Client ne pourra bénéficier du
                        droit de rétractation. Toutefois, FOOD&YOU permet au Client d’annuler son achat via la
                        Plateforme jusqu’à deux jours avant la date de la Soirée concernée. Dans un tel cas, le Client
                        sera rembourser des sommes versées, par utilisation du même moyen de paiement que celui utilisé
                        pour le paiement initial. Au-delà de ce délai, toute annulation ne pourra donner lieu à aucun
                        remboursement.
                    </p>
                </div>

                <strong class="text-left text-xxlg">ARTICLE 4 : PRIX</strong>
                <div class="text-sm">
                    <p>
                        Les prix appliqués par Soirée sont indiqués en euros toutes taxes comprises, hors boissons, et
                        par personne, via la Plateforme. La Société se réserve le droit de modifier les prix à tout
                        moment en conformité avec la législation applicable. Aucune annulation d’une commande par le
                        Client ne pourra intervenir après règlement du prix par le Client. Le Client est pleinement
                        informé de ce qu’il devra verser directement au Restaurant le prix des boissons qu’il consommera
                        lors de la Soirée.
                    </p>
                </div>

                <strong class="text-left text-xxlg">ARTICLE 5 : Obligations DU CLIENT et responsabilité</strong>
                <div class="text-sm">
                    <p>
                        Lors de la Soirée, le Client bénéficiera, outre du repas et des avantages d’une Soirée FOOD&YOU,
                        du droit de participer à la notation des chefs amateurs qui auront participé à la Soirée au sein
                        du Restaurant. A cette fin, le Client sera en droit, postérieurement à une Soirée, à émettre des
                        commentaires et notes sur les Chefs Amateurs et sur le Restaurant. Dans cet exercice, le Client
                        s’engage à ce que ses commentaires et notes :
                    </p>
                    <ul>
                        <li>
                            soient conformes à l’ordre public ou aux bonnes mœurs,
                        </li>
                        <li>
                            ne soient pas injurieux, outranciers, mensongers ou calomnieux à l’égard du Restaurant, des
                            Chefs Amateurs ou de FOOD&YOU,
                        </li>
                        <li>
                            ne comportent pas de dérive raciste, xénophobe, négationniste, incitant à la discrimination,
                            à la haine ou à la violence à l'égard d'une personne ou d'un groupe de personnes à raison de
                            leur origine, de leur sexe, de leur situation de famille, de leur apparence physique, de
                            leur patronyme, de leur état de santé, de leur handicap, de leurs caractéristiques
                            génétiques, de leurs mœurs, de leur orientation sexuelle vraie ou supposée, de leur âge, de
                            leurs opinions politiques, de leurs activités syndicales, de leur appartenance vraies ou
                            supposée à une ethnie, une nation, une race, ou une religion déterminée
                        </li>
                        <li>
                            plus généralement, soient conformes aux dispositions légales et règlementaires en vigueur.
                        </li>
                    </ul>
                    <p>
                        Lors de la tenue de Soirée, en cas de captation vidéo ou photographique, le Client s’engage à
                        signer une autorisation d’usage de sa voix et son image, dans les termes précisés ci-après en
                        annexe, et renonce à toute action à l’égard de FOOD&YOU sur le fondement d’une atteinte à ses
                        droits, dés lors que les présentes Conditions Générales sont respectées par FOOD&YOU. Il est de
                        la responsabilité du Client de s’assurer que ses équipements et sa connexion internet sont
                        suffisants pour accéder à la Plateforme. Chaque Client reste responsable à tout moment de
                        l’usage de son compte, de son login et de son mot de passe, ainsi que de tout commentaire publié
                        et toute note attribuée. Le Client sera tenu de dédommager FOOD&YOU de l’intégralité des
                        conséquences matérielles ou immatérielles, qui découlerait de sa violation des présentes
                        Conditions Générales. En cas d’action ou de revendication d’un tiers à l’encontre de FOOD&YOU,
                        cette dernière pourra par conséquent appeler en garantie tout Client qui, en violant les
                        engagements des présentes Conditions Générales, serait à l’origine des faits reprochés par ledit
                        tiers à FOOD&YOU. En outre, le Client renonce à exercer tout recours contre FOOD&YOU dans le
                        cadre de poursuites diligentées par un tiers à son encontre du fait de la publication,
                        l'utilisation ou de l'exploitation des commentaires et notes qu’il aura publiés.
                    </p>
                </div>

                <strong class="text-left text-xxlg">ARTICLE 6 : Obligations de FOOD&YOU et responsabilité</strong>
                <div class="text-sm">
                    <p>
                        FOOD&YOU ne pourra être tenue responsable de toute indisponibilité de la Plateforme inhérente
                        aux aléas techniques liés à Internet, à un cas de force majeure, se rapportant à la connexion
                        Internet du Client ou à ses équipements, ou à des opérations de maintenance nécessaires au bon
                        fonctionnement de la Plateforme. FOOD&YOU se réserve le droit d’interrompre à tout moment
                        l’accès à la Plateforme notamment afin de préserver la confidentialité ou l’intégrité des
                        comptes des Clients en cas d’attaque virale. FOOD&YOU met en œuvre les moyens techniques à sa
                        disposition pour maintenir autant que possible l’intégrité et la sécurité de la Plateforme et la
                        confidentialité des données personnelles des Clients. Le rôle de FOOD&YOU se limite, concernant
                        la publication des notes et commentaires d’un Client, à celui d’un hébergeur au sens de
                        l’article 6 de la Loi pour la Confiance dans l’Economie Numérique (LCEN) du 21 juin 2004. A ce
                        titre, elle n’est pas tenue à une obligation de surveillance desdits commentaires. Elle est
                        seulement tenue à une obligation de retrait en cas de commentaire manifestement illicite qui lui
                        aura été notifié selon les modalités prévues par la LCEN. FOOD&YOU n’est tenue qu’à une
                        obligation de moyens concernant la tenue des Soirées. En conséquence, elle se réserve le droit,
                        en concertation avec le Restaurant, d’annuler toute Soirée avant la date de la tenue de la
                        Soirée notamment lorsque le nombre de clients minimum n’est pas atteint. Dans un tel cas, le
                        Client sera intégralement remboursé du prix versé pour la Soirée, sans que le Client ne puisse
                        contester l’annulation ni avoir un quelconque recours contre FOOD&YOU ni prétendre à un
                        quelconque dédommagement. FOOD&YOU ne saurait être responsable de tout dommage résultant d’une
                        intrusion ou d’un maintien frauduleux d'un tiers sur le compte d’un Client ou sur la Plateforme,
                        ou d’une extraction illicite de données, malgré la mise en œuvre par FOOD&YOU des moyens de
                        sécurisation conformes aux données actuelles de la technique. FOOD&YOU décline toute
                        responsabilité concernant la nature et le contenu des commentaires publiés par les Clients, et
                        plus généralement, à raison des notes attribuées à l’occasion d’une Soirée. FOOD&YOU ne saurait
                        être responsable de tout dommage découlant, pour un Client, de la violation ou du non-respect
                        par un Chef Amateur ou le Restaurant, de l’une des obligations mises à leur charge au titre de
                        toutes conditions contractuelles qui leur seraient applicables.

                    </p>
                </div>

                <strong class="text-left text-xxlg">ARTICLE 7 : Données personnelles – COOKIES</strong>
                <div class="text-sm">
                    <p>
                        FOOD&YOU procède à la collecte de données et informations personnelles concernant les Clients
                        afin de gérer la Plateforme. Ce traitement de données personnelles fait l’objet d’une
                        déclaration à la CNIL par FOOD&YOU sous le numéro 1924719. Ce traitement a pour objet la
                        réalisation des opérations relatives à la gestion des Clients et à la prospection, à
                        l’élaboration de statistiques commerciales, à l’organisation de jeux et de toute opération
                        promotionnelle, à la gestion des avis des Clients sur les Soirées et sur les fonctionnalités de
                        la Plateforme. Ces données sont destinées uniquement aux personnels des services commerciaux,
                        marketing, administratifs et informatiques de FOOD&YOU, ainsi que les services chargés du
                        contrôle (commissaires aux comptes, etc.). Aucun échange ni location ni cession de ces données à
                        des tiers n’est envisagé. Conformément à la loi du 6 janvier 1978, le Client dispose d’un droit
                        d’accès, de rectification et d’opposition sur les données personnelles le concernant. Pour
                        exercer ce droit, il convient d’écrire à : Société FOOD&YOU, Service CNIL – 13 Cours
                        d’Herbouville 69004 Lyon, France – karen@foodandyou.fr. FOOD&YOU informe le Client de
                        l’installation de cookies dans son ordinateur. FOOD&YOU utilise les cookies pour permettre et
                        faciliter la communication par voie électronique, pour fournir des fonctionnalités adaptées aux
                        besoins des Clients. Le cookie sert à identifier le Client à chacune de ses connexions, et
                        facilite ainsi son accès à la Plateforme. Le Client peut refuser les cookies en modifiant la
                        configuration de son navigateur ; ceci peut néanmoins altérer les fonctionnalités proposées par
                        la Plateforme.
                    </p>
                </div>

                <strong class="text-left text-xxlg">ARTICLE 8 : DIVERS</strong>
                <div class="text-sm">
                    <p>
                        De manière générale, si une ou plusieurs stipulations des Conditions Générales sont tenues pour
                        non valides ou déclarées comme telles en application d'une loi, d'un règlement ou à la suite
                        d'une décision définitive d'une juridiction compétente, les autres stipulations garderont toute
                        leur force et leur portée. Les Parties conviennent alors de remplacer la clause déclarée nulle
                        et non valide par une clause qui se rapprochera le plus quant à son contenu de la clause
                        initialement arrêtée. Les mêmes principes s’appliqueront en cas de dispositions incomplètes. Les
                        dispositions des présentes Conditions Générales expriment l’intégralité de l’accord conclu entre
                        les Parties.
                    </p>
                </div>

                <strong class="text-left text-xxlg">ARTICLE 9 : Droit Applicable - Attribution de juridiction</strong>
                <div class="text-sm">
                    <p>
                        Les Conditions Générales seront interprétées, exécutées et régies par le droit français. En cas
                        de difficultés relatives à la validité, l’interprétation, l’exécution ou l’inexécution des
                        présentes, et à défaut de règlement amiable dans un délai de trente (30) jours suivant la
                        survenance du différend, les Parties conviennent de soumettre leur différend à la compétence
                        exclusive du tribunal compétent dans le ressort de la Cour d’appel de Lyon.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

