{% extends 'base.html.twig' %}

{% block body %}
    <div class="container box-lg">
        <div>
            <h2>Food&You : Charte d’engagement des cuisiniers amateurs</h2>
            <div class="box">
                <strong class="text-left text-xxlg">1) Avant l’événement Food and You</strong>
                <div class="text-sm">
                    <p>
                        Une fois qu’un restaurateur me sélectionne pour un événement, je m’engage à le joindre par
                        téléphone pour un briefing avant l’événement, destiné à valider les recettes, les ingrédients,
                        et la faisabilité technique par rapport au nombre de couverts servis.
                    </p>
                    <p>
                        Je m’engage à me rendre disponible à sa demande pour un briefing sur place dans son restaurant.
                        Je note que le restaurateur a la possibilité de modifier ma recette pour que celle-ci soit plus
                        simple à exécuter, meilleure et/ou plus esthétique, ou économiquement plus en ligne avec le menu
                        proposé.
                        J’accepte avec ouverture les remarques du restaurateur qui est un professionnel averti et
                        reconnu, sélectionné par Food&You.
                        Je m’engage à parler de l’événement autour de moi afin d’encourager mes proches à découvrir le
                        concept Food&You et à venir goûter et noter ma recette.
                    </p>
                </div>

                <strong class="text-left text-xxlg">2) Pendant l’événement Food and You</strong>
                <div class="text-sm">
                    <p>
                        Je m’engage à me rendre disponible au restaurant 3 à 5 heures avant l’arrivée des clients afin
                        de garantir une mise en place sereine et qualitative du service. Je m’engage à porter des
                        vêtements en coton et le tablier Food&You.
                    </p>
                    <p>
                        Je m’engage à suivre les instructions du chef afin de sécuriser la qualité du service. Une fois
                        la qualité de ma recette assurée, je m’engage à me rendre en salle, sous les instructions du
                        chef, afin d’échanger avec les clients, de les servir et de favoriser une ambiance conviviale,
                        pourquoi pas en les faisant participer et à la fin de l’événement applaudir l’équipe du
                        restaurant qui permet aux cuisiniers amateurs de vivre cette expérience originale.
                    </p>
                    <p>
                        Enfin, je m’engage à aider l’équipe du restaurant à ranger et nettoyer après le service, dans
                        l’objectif de vivre l’expérience d’immersion de A à Z.
                    </p>
                </div>

                <strong class="text-left text-xxlg">3) Après l’événement Food and You</strong>
                <div class="text-sm">
                    <p>
                        Je m’engage à noter le restaurant pour sa capacité à accueillir et coacher les cuisiniers
                        amateurs, car Food&You souhaite avoir des restaurants partenaires pleinement impliqués.
                    </p>
                    <p>
                        J’accepte de diffuser et de partager ma recette sur tous les supports de communication Food&You.

                        Si l’expérience m’a plu, je m’engage à m’inscrire à nouveau sur la plateforme <a
                                href="foodanyou.fr">www.foodanyou.fr</a>
                        afin d’essayer de monter les échelons au maximum.
                    </p>
                </div>
            </div>
            <hr>
            <h2>Food&You : charte d’engagement des restaurateurs</h2>
            <div class="box">
                <strong class="text-left text-xxlg">1) Avant l’événement Food and You :</strong>
                <div class="text-sm">
                    <p>
                        Une fois l’événement Food&You programmé, je m’engage à avoir un échange au téléphone ou à mon
                        restaurant avec les cuisiniers amateurs. Il sera question de valider leurs recettes, à la fois
                        concernant les ingrédients utilisés et leur faisabilité technique pour servir le nombre de
                        couverts adéquat le jour de l’événement.
                    </p>
                    <p>
                        J’ai la possibilité d’influer sur la recette proposée par le cuisinier amateur afin de garantir
                        une exécution simple, une qualité gustative et esthétique irréprochable, et une rentabilité
                        correspondant au prix du menu.
                    </p>
                </div>

                <strong class="text-left text-xxlg">2) Pendant l’événement Food and You</strong>
                <div class="text-sm">
                    <p>
                        Le jour de l’événement, je m’engage à accueillir les cuisiniers amateurs 3 à 4 heures avant
                        l’arrivée des clients afin de les coacher pour la mise en place, selon la complexité de leurs
                        recettes. Chaque cuisinier amateur doit disposer du matériel, des ingrédients, de la vaisselle,
                        de l’espace et des conseils adéquats pour qu’il réussisse à assurer un bon service.
                        Je dois vérifier chaque recette au moment de la mise en place, sur sa facilité d’exécution
                        pendant le service, son assaisonnement, son goût, son dressage, afin qu’elle corresponde aux
                        standards de qualité de mon restaurant.
                    </p>
                    <p>
                        Je suis responsable de la gestion des cuisiniers amateurs :
                        La priorité est la confection de leur propre plat, je dois les affecter au service en salle pour
                        leur 2 dernières assiettes afin qu’il présente leur réalisation.
                        Je peux ensuite les motiver à participer à l’élaboration des recettes des 2 autres cuisiniers
                        amateurs, puis au rangement une fois le service terminé.
                    </p>
                    <p>
                        Pendant le service, j’assure une supervision de l’ensemble de l’envoi des plats, ainsi qu’une
                        supervision de la salle afin de valider que les clients participent au jeu au travers des votes.
                        J’ai la responsabilité de faire voter les clients, en utilisant les outils fournis par Food and
                        You (messages audio, application mobile).
                        Je m’engage à favoriser une ambiance conviviale destinée à encourager les cuisiniers amateurs et
                        à les féliciter pour leurs efforts. Je suis le responsable de l’annonce des résultats des votes.
                        Pendant la soirée et à la fin de l’événement, je propose aux clients d’applaudir les chefs
                        amateurs.
                    </p>
                </div>

                <strong class="text-left text-xxlg">3) Après l’événement Food and You</strong>
                <div class="text-sm">
                    <p>
                        Une fois son compte validé, le Client peut procéder à toute commande de places à la Soirée de
                        son choix. La commande est réputée effectuée lorsque le Client a validé son acceptation de
                        l’achat par l’acceptation expresse de Conditions Générales au moment de l’achat et par le
                        paiement du prix complet à FOOD&YOU par les moyens mis à sa disposition par la Plateforme.
                        Conformément à l’article L121-21-8 du code de la consommation, le Client ne pourra bénéficier du
                        droit de rétractation. Toutefois, FOOD&YOU permet au Client d’annuler son achat via la
                        Plateforme jusqu’à deux jours avant la date de la Soirée concernée. Dans un tel cas, le Client
                        sera rembourser des sommes versées, par utilisation du même moyen de paiement que celui utilisé
                        pour le paiement initial. Au-delà de ce délai, toute annulation ne pourra donner lieu à aucun
                        remboursement.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

