{% extends 'base.html.twig' %}

{% block body %}
    <div class="container box-lg">
        <div class="Owner">
            <h2 class="box">Jouez et progressez dans la brigade Food&You</h2>
            <h5>De nombreux cadeaux à la clé !</h5>
            <div class="box">
                <p>
                    Vous rejoignez désormais la communauté Food&You ! Découvrez les différents niveaux
                    du jeu que vous pouvez franchir et les cadeaux que vous pouvez gagner ! Nous
                    récompensons la régularité de vos talents culinaires : vos notes ainsi que la fréquence de
                    vos participations.
                </p>

                <div class="table box">
                    <table class="owner_table">
                        <thead>
                        <tr>
                            <td style="width: 10%">Niveaux</td>
                            <td style="width: 20%">Nombre de participations</td>
                            <td>Note moyenne minimum</td>
                            <td>Gain</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Niveau 0 APPRENTI</td>
                            <td>1 participation</td>
                            <td>Note moyenne de 2,5/5</td>
                            <td>Tablier Food&You d’une valeur de 15€</td>
                        </tr>
                        <tr>
                            <td>Niveau 1 COMMIS</td>
                            <td>2 participations</td>
                            <td>Note moyenne de 3/5</td>
                            <td>Un panier monpotager.com d’une valeur de 18€</td>
                        </tr>
                        <tr>
                            <td>Niveau 2 CHEF DE PARTIE</td>
                            <td>4 participation2</td>
                            <td>Note moyenne de 3,5/5</td>
                            <td>Une box Kitchen Trotter d’une valeur de 19,90€</td>
                        </tr>
                        <tr>
                            <td>Niveau 3 SECOND DE CUISINE</td>
                            <td>6 participations</td>
                            <td>Note moyenne de 4/5</td>
                            <td>Un assortiment Féeriecake d’une valeur de 23,90€</td>
                        </tr>
                        <tr>
                            <td>Niveau 4 CHEF</td>
                            <td>8 participations</td>
                            <td>Note moyenne de 4,5/5</td>
                            <td>Une parcelle virtuelle monpotager.com d’une valeur de 49€</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <p>
                    Tous les membres de la brigade ayant atteint le niveau CHEF sont automatiquement
                    qualifiés pour le grand concours des chefs amateurs Food&You lors duquel ils pourront
                    gagner jusqu’à 10.000€ !!!
                </p>
                <p>
                    Encore plus de cadeaux !?
                </p>
                <p>
                    Chaque cuisinier amateur vainqueur d’une soirée Food&You verra son plat affiché à la
                    carte du restaurant durant au moins une semaine.
                </p>
                <p>
                    * Food&You se réserve le droit de modifier les cadeaux à chaque passage de niveau,
                    dans la limite des stocks disponibles
                </p>
            </div>
        </div>
    </div>
{% endblock %}

