{% trans_default_domain 'SonataAdminRestaurant' %}

{% if object.status == constant('\\AppBundle\\Entity\\Restaurant::STATUS_PENDING') %}
<a class="btn btn-sm btn-success" href="{{ admin.generateObjectUrl('validate', object) }}">{{ 'restaurant.validate' | trans }}</a>
{% endif %}
