<modal-block>
    <content>
        <p>
        <h4 class="text-left box">MENTIONS LEGALES</h4>

        <strong>Références éditoriales</strong>
        <p>
            Le site internet foodandyou.fr est édité par la société FOOD&YOU société par actions simplifiée au
            capital de 3
            500 euros.
            La société FOOD&YOU est inscrite au Registre du Commerce et des Sociétés de Lyon sous le numéro RCS 817
            661 721
            Le siège social est situé à Lyon, 13 Cours d’Herbouville 69004 – email : karen@foodandyou.fr
            Directeur de publication : Mme Karen FINZI (Gérante) de la société Repérage Shopping Sarl, Présidente de
            la
            société FOOD&YOU – karen@foodandyou.fr
        </p>
        <br>
        <p>
            L’hébergement du Site a été confié à la société SOLUTI au capital de 102 000 euros, dont le siège social
            est
            situé 73 rue de la République immatriculée au Registre du Commerce et des Sociétés de Lyon sous le
            numéro RCS
            797 734 134, joignable sur son site Internet www.soluti.fr, par téléphone au 04 57 08 20 80.
        </p>
        <br>
        <p>
            © FOOD&YOU – janvier 2016 - Tous droits réservés
        </p>

        <br>
        <strong>Données personnelles</strong>
        <p>
            La création d’un compte personnel et l’utilisation du site supposent la collecte de données personnelles
            et la
            réalisation d’un traitement de données.
            Ce traitement a pour finalité l’exploitation des Services du Site et l’activité de la société FOOD&YOU.
            Seule la
            société FOOD&YOU est destinataire des données collectées.
            Aucune donnée personnelle n’est collectée à des fins autres que celles susvisées ni cédée à des tiers
            sans votre
            consentement ou utilisée à votre insu.
            Conformément à la loi n°78-17 du 6 janvier 1978 modifiée, relative à l’Informatique, aux Fichiers et aux
            Libertés, vous disposez d’un droit d’accès, de modification et de suppression des données personnelles
            vous
            concernant (art.34 de la loi).
            Ces droits peuvent être exercés auprès du Responsable du traitement :<br>
            <span class="italic">Société FOOD&YOU, Karen Finzi: karen@foodandyou.fr</span>
            Vous trouverez toutes les informations concernant vos droits, devoirs et la protection des données
            personnelles
            sur le site de la Commission Nationale de l’Informatique et des Libertés : <a href="http://www.cnil.fr">http://www.cnil.fr</a>

            Lors de la visite sur le Site, un cookie est implanté dans votre ordinateur. Ce cookie enregistre votre
            login en
            tant que Membre du Site et stocke cette information de manière vous évitez, lors de votre prochaine
            visite, de
            les saisir à nouveau. La durée de conservation de cette information sur votre ordinateur est de six
            mois. Vous
            pouvez vous opposer à l’enregistrement de ce cookie en configurant votre navigateur différemment.
        </p>

        <br>
        <strong>Contacts :</strong>
        <p>
            Pour nous signaler toutes erreurs ou anomalies sur le Site :
            <br>
            Webmestre : <span class="italic">Karen Finzi, karen@foodandyou.fr</span>
        </p>
    </content>
</modal-block>
