<div class="container-fluid Search--block--default">
    <div class="container">
        <div>
            <div class="Sticker xs green">
                <span class="fa fa-search fa-2x white"></span>
            </div>
        </div>
        <div>
            <span class="text-sm white text-uppercase"><a href="{{ path('event_list') }}">{{ "search.event"|trans({}, "base") }}</a></span>
        </div>
    </div>
</div>
